* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

.site {
  color: #333;
}

.site__header {
  position: sticky;
  top: 0;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

.header__link {
  color: #333;
  text-decoration: none;
}

.header__title {
  font-size: 24px;
}

.site__section {
  margin: 15px 15px 30px;
}

.section__title {
  font-size: 20px;
}

.section__content {
  margin: 10px 0 0;
  font-size: 14px;
  line-height: 1.5;
}

.footer {
  padding: 15px;
  border-top: 1px solid #ccc;
}

.footer__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer__link {
  display: inline-block;
  margin: 0 15px;
  color: #333;
  text-decoration: none;
}

.footer__link:active,
.footer__link:hover,
.footer__link:focus {
  text-decoration: underline;
}

.copyright {
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__icon {
  font-size: 18px;
}

.bland {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.bland__icon {
  display: block;
  width: 24px;
  height: 24px;
  background: center no-repeat;
  background-size: contain;
}

.bland__icon--facebook {
  background-image: url("../images/bland-resources/facebook/f_logo_RGB-Blue_72.png");
}

.bland__icon--twitter {
  background-image: url("../images/bland-resources/twitter/Twitter_Social_Icon_Circle_Color.png");
}

.bland__icon--github {
  background-image: url("../images/bland-resources/github/GitHub-Mark-64px.png");
}

.bland__icon--note {
  background-image: url("../images/bland-resources/note/logo_symbol.png");
  background-size: 44px;
}
